.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.container {
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}
.light {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
.dark {
  background-color: #000000;
  color: #ffffff;
}
.heading {
  font-family: 'Roboto';
  font-size: 32px;
}

.button {
  font-size: 16px;
  border: none;
  padding: 16px;
  border-radius: 8px;
}
